<a href="https://colab.research.google.com/github/mookor/Sql_library/blob/master/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3
import datetime

In [0]:
conn = sqlite3.connect(":memory:") # или :memory: чтобы сохранить в RAM
cursor = conn.cursor()

# Дополнительные функции

In [0]:

def sql_fetch(conn,table):

    cursor = conn.cursor()
    query = "SELECT * FROM " + table
    cursor.execute(query)

    rows = cursor.fetchall()

    for row in rows:

        print(row)

In [0]:
def count_availability(conn,book_code):
  try:
    cursor = conn.cursor()
    query = "SELECT count FROM Books WHERE book_code = " + str(book_code)
    cursor.execute(query)
    rows = cursor.fetchall()
    return rows[0][0]
  except Exception:
    print("Неудача")

In [0]:
def check_for_return(conn,s_name,book_code,Date_of_issue,Id):
  try:
    cursor = conn.cursor()
    query = "SELECT * FROM issuing_books WHERE Code_of_taken_book = " + str(book_code) +" and  Date_of_issue = " + "'"+ Date_of_issue +"'" + "and Student_name = " + "'" + s_name +"'" + " and Return_date = 'not_return'" + "and issue_id = "+str(Id)
    cursor.execute(query)
    row = cursor.fetchall()
    return row[0]
  except Exception:
    return 0

In [0]:
def count_availability(conn,book_code):
  try:
    cursor = conn.cursor()
    query = "SELECT count FROM Books WHERE book_code = " + str(book_code)
    cursor.execute(query)
    rows = cursor.fetchall()
    return rows[0][0]
  except Exception:
    print("Неудача")

In [0]:
def date_to_need():
  today = datetime.datetime.today() 
  return today.strftime("%Y-%m-%d")

# **Создание базы данных**

In [8]:
cursor.execute("""CREATE TABLE Books
                  (Author_name text NOT NULL,
                   publisher text NOT NULL, 
                   publication_date text NOT NULL,
                   book_code integer PRIMARY KEY,
                   count integer CHECK(count >= 0))
                       
              """)

cursor.execute("""CREATE TABLE issuing_books
                  (Student_name text NOT NULL,
                  
                  Date_of_issue datetime ,
                  Return_date datetime DEFAULT "not return",
                  Code_of_taken_book integer,
                  issue_id integer PRIMARY KEY,
                  FOREIGN KEY (Code_of_taken_book) REFERENCES Books(book_code)
                  )
                  """)

In [0]:
Books = [("Pushkin","publisher1","1820-02-20",1,10),
         ("Petrov","publisher2", "2010-01-01,",2,5),
          ("Ivanov", "publisher3","2000-02-02",3,1)]
cursor.executemany("INSERT INTO Books VALUES (?,?,?,?,?)", Books)
conn.commit()

# **Функция выдачи книги**

In [0]:

def issuing(Student_name,book_code,Id,date):
  #date = date_to_need()
  if(count_availability(conn,book_code) > 0 ):
    try:
      query = "INSERT INTO issuing_books VALUES ('{0}','{1}','not_return','{2}','{3}')".format(Student_name, date,str(book_code),str(Id))
      remove_book = " Update Books Set count = " + str((count_availability(conn,book_code) - 1)) + " Where book_code = " + str(book_code)
      cursor.execute(remove_book)
      cursor.execute(query)
      conn.commit()
      print("Успешная транзакция")
    except Exception:
      print("Ошибка")
  else:
    print("Нет книг в наличии")

# **Возврат книги**

In [0]:
def return_book(Student_name,book_code,Date_of_issue,Id):
  date = date_to_need()

  if (check_for_return(conn,Student_name, book_code,Date_of_issue, Id)):
    try:
      query = "Update issuing_books Set Return_date = '{0}' Where Code_of_taken_book = '{1}'  and  Date_of_issue = '{2}' and Student_name = '{3}' and issue_id = {4} ".format(date,str(book_code),Date_of_issue,Student_name,str(Id)) 
      return_book = " Update Books Set count = " + str((count_availability(conn,book_code) + 1)) + " Where book_code = " + str(book_code)
      cursor.execute(return_book)
      cursor.execute(query)
      conn.commit()
      print("Успешная транзакция")
    except Exception:
      print("Ошибка") 
  else:
    print("Такую книгу не брали ")

# **Злостный читатель**

In [0]:
def evil(case):
  if(case == 1):
    query = """ Select Student_name , issue_Id
                from issuing_books
                where Return_date = "not_return" and  (julianday(date('now'))-julianday(Date_of_issue))>50
            """
    cursor.execute(query)
    rows1 = cursor.fetchall()

    for row1 in rows1:
      print("Читатель: " +str(row1[0])+ " держит книгу больше 50 дней , ID выдачи - " + str(row1[1]))        

    query = """Select Student_name , issue_Id
              from issuing_books
              where (julianday(Return_date) - julianday(Date_of_issue) > 50)"""
    cursor.execute(query)
    rows = cursor.fetchall()

    for row in rows:
      print("Читатель: " +str(row[0])+ " держал книгу больше 50 дней, ID выдачи - " + str(row[1]))



  elif(case == 0 ):
    query = """ Select Student_name , issue_Id , MAX(julianday(date('now'))-julianday(Date_of_issue)) as difdate
                from issuing_books
                where Return_date = "not_return" 
            """
    cursor.execute(query)
    rows1 = cursor.fetchall()
    
    k = 0
    k = rows1[0][2]

    query = """Select Student_name , issue_Id ,  (julianday(date(Return_date))-julianday(Date_of_issue)) as difdate
              from issuing_books
              where difdate = (SELECT MAX(julianday(Return_date) - julianday(Date_of_issue)) from issuing_books)"""
    cursor.execute(query)
    rows = cursor.fetchall()
    t = rows[0][2]
    if(k > t):
      print("Читатель: " +str(rows1[0][0])+ " держит книгу больше " +str(rows1[0][2]) +" дней, ID выдачи - " + str(rows1[0][1]) + " - Он самый злостный читатель!")
    else:
      print("Читатель: " +str(rows[0][0])+ " держал книгу больше " +str(rows[0][2]) +" дней, ID выдачи - " + str(rows[0][1]) + " - Он самый злостный читатель!")

# **Популярный писатель**

In [0]:
def popular_author():
  query = """Select Author_name, count(*) from Books
             join issuing_books on issuing_books.Code_of_taken_book = Books.book_code group by Author_name
            """
  cursor.execute(query)

  rows = cursor.fetchall()
  max = 1
  popular_author = list()
  for row in rows:
    if(row[1] > max):
      popular_author = row
      max = row[1]
  print(str(popular_author[0]) + " Самый популярный автор")

# **Добавить книгу в библиотеку**

In [0]:
def add_book(Author_name,publisher,publication_date,book_code,count):
  try:
    query = "INSERT INTO Books VALUES('{0}','{1}','{2}','{3}','{4}')".format(Author_name,publisher,publication_date,str(book_code),str(count))
    
    cursor.execute(query)
    conn.commit()  
  except Exception:
    print("Ошибка")

# **Работа с базой**

просмотр текущей библиотеки

In [15]:
sql_fetch(conn,"Books")

('Pushkin', 'publisher1', '1820-02-20', 1, 10)
('Petrov', 'publisher2', '2010-01-01,', 2, 5)
('Ivanov', 'publisher3', '2000-02-02', 3, 1)

Добавить книгу

In [0]:
add_book("Kuznetcov","publisher4","2020-01-01",152,31)

выдача книг

In [17]:
issuing(Student_name="student1",book_code=1,Id=1,date="2015-04-02")
issuing(Student_name="student1",book_code=2,Id=2,date="2018-02-02")
issuing(Student_name="student2",book_code=1,Id=3,date="2019-09-14")
issuing(Student_name="student2",book_code=2,Id=4,date="2020-03-02")
issuing(Student_name="student2",book_code=3,Id=5,date="2020-02-14")
issuing(Student_name="student3",book_code=2,Id=6,date="2020-04-02")

Успешная транзакция
Успешная транзакция
Успешная транзакция
Успешная транзакция
Успешная транзакция
Успешная транзакция

проверка библиотеки после выдачи

In [18]:
sql_fetch(conn,"Books")

('Pushkin', 'publisher1', '1820-02-20', 1, 8)
('Petrov', 'publisher2', '2010-01-01,', 2, 2)
('Ivanov', 'publisher3', '2000-02-02', 3, 0)
('Kuznetcov', 'publisher4', '2020-01-01', 152, 31)

In [19]:
sql_fetch(conn,"issuing_books")

('student1', '2015-04-02', 'not_return', 1, 1)
('student1', '2018-02-02', 'not_return', 2, 2)
('student2', '2019-09-14', 'not_return', 1, 3)
('student2', '2020-03-02', 'not_return', 2, 4)
('student2', '2020-02-14', 'not_return', 3, 5)
('student3', '2020-04-02', 'not_return', 2, 6)

Возврат книг

In [20]:
return_book(Student_name="student3",book_code=2,Date_of_issue ="2020-04-02" ,Id=6)
return_book(Student_name="student2",book_code=1,Date_of_issue ="2019-09-14", Id=3)
return_book(Student_name="student1",book_code=2,Date_of_issue = "2018-02-02",Id=2)

Успешная транзакция
Успешная транзакция
Успешная транзакция

In [21]:
sql_fetch(conn,"issuing_books")

('student1', '2015-04-02', 'not_return', 1, 1)
('student1', '2018-02-02', '2020-04-05', 2, 2)
('student2', '2019-09-14', '2020-04-05', 1, 3)
('student2', '2020-03-02', 'not_return', 2, 4)
('student2', '2020-02-14', 'not_return', 3, 5)
('student3', '2020-04-02', '2020-04-05', 2, 6)

Поиск злостного читателя и самого популярного автора

*Злостным читателем считается тот , кто держал/держит книгу на руках больше 50 дней, а самым злостным тот, у кого срок задолжности самый большой*


Чтобы показать самого злостного читателя, нужно передать в функцию evil() аргумент - 0, чтобы показать всех злостных ,аргумент должен быть равен - 1

In [22]:
evil(0)

Читатель: student1 держит книгу больше 1830.0 дней, ID выдачи - 1 - Он самый злостный читатель!

In [23]:
evil(1)

Читатель: student1 держит книгу больше 50 дней , ID выдачи - 1
Читатель: student2 держит книгу больше 50 дней , ID выдачи - 5
Читатель: student1 держал книгу больше 50 дней, ID выдачи - 2
Читатель: student2 держал книгу больше 50 дней, ID выдачи - 3

In [24]:
popular_author()

Petrov Самый популярный автор

In [25]:
import os
from getpass import getpass
import urllib

user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
repo_name = input('Repo name: ')

cmd_string = 'git clone https://{0}:{1}@github.com/{0}/{2}.git'.format(user, password, repo_name)

os.system(cmd_string)
cmd_string, password = "", "" # removing the password from the variable

User name: Mookor
Password: ··········
Repo name: Sql_library